@tailwind base;
@tailwind components;
@tailwind utilities;

.ui-logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
}

article p img {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}
